<h2>
    <h2>About
        
    </h2>
    <p>
        Our restaurant is not just a place to come and eat but also a place where people can meet and spend time
        together to enjoy. Our restaurant has an amazing view of the city that none of your competitors have. Dining in
        our restaurant gives the customers a proper chance to relax, unwind, and enjoy lovely social ambience while
        having delicious meals. Our restaurant creates an overall pleasing experience by combining professionalism, top
        quality food and ambience.</p>

    <p>
        Our food:
        <ul>
            <li>
                Prepared using different cuisines from The USA, India and Italy.
            </li>
            <li>
                Uses authentic cooking styles, is prepared by certified professional chefs
            </li>

        </ul>

    </p>

    <p>
        Our customers can expect prices which reflect our level of service and the quality of food. Our prices are
        balanced and economic so that the customers can repeat the visit. We are also associated with THE GOLDFINCH
        which is the best online food ordering app in the USA. Customers can use this app if they wish to enjoy the food
        in their homes. You can expect your delicious box of happiness at your door step in real quick time

    </p>
</h2>