<form action="/signin" method="POST" >  
  <div class="container">
    <h1>Sign In</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

     <label ><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="name" required>

     <label ><b>Mobile Number</b></label>
    <input type="text" placeholder="Enter Mobile Number" name="mobileNumber" required>

     <label ><b>Address</b></label>
    <input type="text" placeholder="Enter Address" name="address" required>

    <label for="emailId"><b>Email</b></label>
    <input type="text" 
    placeholder="Enter Email" name="emailId" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="repeatPassword" required>
  
      <button type="submit" class="registerbtn">Sign In</button>
    
  </div>
</form>

 {{#if success}}
   <ul>
     {{#each errors}}
       <li class="error">
         {{this}}
       </li>
       {{/each}}
           </ul>
  {{/if}}  

{{!-- style="border:1px solid #ccc" --}}